<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="headerFragment">
	<div class="site-navbar fixed-top">
		<nav class="navbar navbar-expand-lg navbar-light bg-success">
			<div class="container">
				<a class="navbar-brand  font-weight-bold px-3 text-light" href="/">
					<span class="logo-lg"><b>YOHANA</b> Printing</span>
				</a>
				<button type="button" class="navbar-toggler bg-success"
					data-toggle="collapse" data-target="#nav">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="nav">

					<ul class="nav navbar-nav ml-auto">

						<li class="nav-item"><a
							class="nav-link text-light font-weight-bold px-3" href="/">HOME</a>

						</li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle text-light font-weight-bold px-3"
							href="#" id="navbardrop" data-toggle="dropdown">
								ADMINISTRATOR </a>
							<div class="dropdown-menu">
								<a class="dropdown-item text-info font-weight-bold px-3"
									href="/items">[[${T(com.morissoft.printing.constant.Paths).ITEMS}]]</a>
								<a class="dropdown-item text-info font-weight-bold px-3"
									href="/customers">[[${T(com.morissoft.printing.constant.Paths).CUSTOMERS}]]</a>
								<a class="dropdown-item text-info font-weight-bold px-3"
									href="/employees">Employees</a>
								<a class="dropdown-item text-info font-weight-bold px-3"
									href="/users">Users</a>
							</div></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle text-light font-weight-bold px-3"
							href="#" id="navbardrop" data-toggle="dropdown"> REPORTS </a>
							<div class="dropdown-menu">
								<a class="dropdown-item text-info font-weight-bold px-3"
									href="/reports/payments.html">Payments</a>
								<a class="dropdown-item text-info font-weight-bold px-3"
									href="/reports/ar.html">Account Receivable</a>
								<a class="dropdown-item text-info font-weight-bold px-3"
									href="/reports/sales.html">Sales</a>
							</div></li>

						<li class="nav-item"><a
							class="nav-link text-light font-weight-bold px-3"
							href="/salesorders">[[${T(com.morissoft.printing.constant.Paths).SALES_ORDERS}]]
						</a></li>
						<li class="nav-item"><a
							class="nav-link text-light font-weight-bold px-3"
							href="/payments">[[${T(com.morissoft.printing.constant.Paths).PAYMENTS}]]
						</a></li>

						<li class="nav-item"><a
							class="nav-link text-light font-weight-bold px-3"
							href="/invoices">[[${T(com.morissoft.printing.constant.Paths).SALES_INVOICE}]]</a></li>

						<li class="dropdown user user-menu"><a href="#"
							class="nav-link dropdown-toggle text-light font-weight-bold px-3" data-toggle="dropdown"><i class="fa fa-user"></i> <span
								th:text="${#httpServletRequest.remoteUser}"
								class="text-light font-weight-bold px-3 hidden-xs"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header">
<!-- 								<img
									src="dist/img/user2-160x160.jpg" class="img-circle"
									alt="User Image" /> -->

									<p>
										<span th:text="${#httpServletRequest.remoteUser}"></span>
									</p></li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="/users/profile" class="btn btn-default btn-flat">My
											Contacts</a>
									</div>
									<div class="pull-right">
										<a href="/logout" class="btn btn-default btn-flat">Logout</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
</html>